* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fondo-color-claro: #d67de7;
    --fondo-color-oscuro: #c00040;
    --fondo-blanco: #f9f9f9;
    --fondo-negro: #262626;
    --fondo-gris: #323232;

    --fondo-color-transparente: rgba(60, 0, 30, 0.3);

    --texto-color-claro: #ff90f0;
    --texto-color-brillante: #ff1c7e;
    --texto-blanco: #f9f9f9;
    --texto-negro: #000000;

    --selection-background: #70405a;
    --selection-color: white;
}

::-moz-selection { /* Code for Firefox */
    background: var(--selection-background);
    color: var(--selection-color);
}
  
::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #202020;
}
  
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#303030, #707070 48%, #707070 52%, #202020 100%);
}
  
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#303030, #909090 48%, #909090 52%, #202020 100%);
}

body {
    background-color: var(--fondo-negro);
    color: var(--texto-blanco);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

header {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 20px;
}

.header-img-cont {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text-cont {
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--texto-blanco);
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    opacity: 0.8;
}

.header-text-cont .esp-abajo {
    display: inline-block;
    margin-bottom: 30px;
}

nav {
    background-color: var(--fondo-color-oscuro);
    min-height: 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--texto-blanco);
}

nav ul li a {
    padding: 5px;
    margin: 0 10px;
}

nav ul li a:hover {
    background-color: var(--fondo-color-transparente);
}

@media (max-width: 500px) {
    nav {
        justify-content: center;
    }
    nav ul {
        margin-right: 0;
    }
    nav ul li a {
        padding: 5px;
        margin: 0;
        font-size: 1rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid black;
}

@media (max-width: 500px) {
    section {
        padding: 30px 10px;
    }
}

section:nth-child(odd) {
    background-color: var(--fondo-negro);
}

section:nth-child(even) {
    background-color: var(--fondo-gris);
}

article {
    width: 100%;
    max-width: 700px;
    margin: 30px 0;
}

.card {
    background-color: var(--fondo-color-transparente);
    box-shadow: -1px 1px 10px 0 #000000;
    border-radius: 10px;
    padding: 20px 10px;
    width: 100%;
    max-width: 700px;

}

@media (max-width: 500px) {
    .card {
        box-shadow: 0px 1px 8px 0 #000000;
    }
}

h3 {
    margin-bottom: 20px;
    color: var(--texto-blanco);
}

article p {
    margin-top: 10px;
}

.sec-1 h3 {
    color: var(--texto-color-brillante);
}

.sec-1 video {
    background-color: #101010;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    z-index: 20;
}

.sec-2 h3 {
    color: var(--texto-color-brillante);
}

.sec-2 p:nth-child(odd) {
    color: var(--texto-color-claro);
}

.art-form h3 {
    color: var(--texto-color-brillante);
}

form {
    background-color: #101010;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    color: var(--texto-blanco);
    padding: 20px 30px;
    font-size: 1rem;
    margin: 0 auto;
}

form input, form textarea, form select {
    background-color: var(--fondo-color-claro);
    border-radius: 6px;
    font-weight: bold;
    border: none;
    outline: none;
    font-family: 'Cabin', sans-serif;
    width: 100%;
    margin: 2px 0;
    padding: 3px;
}

form textarea {
    min-height: 100px;
}

form input[type="radio"], form input[type="checkbox"] {
    width: 20px;
    margin-left: 20px;
    opacity: 0.3;
    accent-color: var(--fondo-color-oscuro);
}

form input[type="radio"]:checked, form input[type="checkbox"]:checked {
    opacity: 1;
    filter: saturate(200%);
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], textarea, select, label {
    display: block;
}

.question {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0;
}

form button {
    display: block;
    margin: 40px auto 10px auto;
    background-color: var(--fondo-color-claro);
    color: var(--texto-negro);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px #000000;
    padding: 8px;
}

form button:hover {
    background-color: var(--fondo-color-oscuro);
    color: var(--texto-blanco);
}

@media (max-width: 500px) {
    form {
        max-width: 100%;
        padding: 10px;
    }
}

.sec-3 h3 {
    color: var(--texto-color-claro);
}

.sec-4 h3 {
    color: var(--texto-color-claro);
}

.art-iframe h3 {
    color: var(--texto-color-brillante);
}

iframe {
    background-color: #101010;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 450px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 500px) {
    iframe {
        height: 300px;
    }
}

.fin {
    background-color: var(--fondo-color-oscuro);
    height: 3px;
    border-left: 10vw solid black;
    border-right: 10vw solid black;
}

footer {
    border: 2px solid black;
    background-color: var(--fondo-negro);
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5vw;
    row-gap: 30px;
}

@media (max-width: 500px) {
    footer {
        padding: 60px 15px;
    }
}

.footer-p {
    flex: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #909090;
}

.footer-links {
    flex: 200px;
    display: flex;
    justify-content: space-around;
}

.footer-links a {
    padding: 8px;
    color: #909090;
    height: fit-content;
}

.footer-links a:hover {
    color: var(--texto-color-brillante);
}